main {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #D2D600;
    width: 100%;

}

.logo-principal {
    text-align: center;
}

.pokemon-logo {
    width: 18%;
}

.pokemons {
    width: 60%;
    margin: 0px auto;
    padding: 50px 0;

}

.pokemons li {
    text-align: center;
    display: inline-block;
    border: 2px solid #000000;
    padding: 2%;
    margin: auto 50px 20px 30px;
    
}

.pokemons li:hover {
    border-radius: 10%;
}

.descricao {
    font-weight: bold;
}

.descricao:hover {
    font-size: large;
    transition-delay: 1s;
    color: #D2D600;

}

.rodape {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #000000;
}

.imagem-rodape {
    width: 20%;
    
}

.copyright {
    color: #D2D600;
}